{% extends "template-default.njk" %}

{% block content %}
<main>

  <section>
    <h2>Video</h2>

    <div class="slider">
      <ul role="region" aria-label="Gallery" tabindex="0">
        <li id="1"><figure><img src="//source.unsplash.com/ICw7ZkUo9Ic/925x520" alt="Slide 1"><figcaption>925x520 (16:9 Ratio)</figcaption></figure></li>
        <li id="2"><figure><img src="//source.unsplash.com/sh3LSNbyj7k/400x400" alt="Slide 2"><figcaption>400x400 (Square)</figcaption></figure></li>
        <li id="3"><figure><img src="//source.unsplash.com/UOZIIQIdBjM/699x200" alt="Slide 3"><figcaption>700x200 (Horizontal)</figcaption></figure></li>
        <li id="4"><figure><img src="//source.unsplash.com/0_yjxsqjTg0/400x600" alt="Slide 4"><figcaption>400x600 (Vertical)</figcaption></figure></li>
      </ul>
    </div>

    <div class="slider">
      <ul role="region" aria-label="gallery" tabindex="0">
        <li id="1"><iframe width="560" height="315" src="https://www.youtube.com/embed/b22bdXNBcTs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
        <li id="2"><video width="480" height="270" controls="" poster="https://heyallan.github.io/hyper-reset-css/chromecast.jpg"><source src="https://heyallan.github.io/hyper-reset-css/chromecast.webm" type="video/webm"><source src="https://heyallan.github.io/hyper-reset-css/chromecast.mp4" type="video/mp4">Your browser does not support the<code>video</code> element.</video></li>
        <li id="3"><iframe src="https://player.vimeo.com/video/143594133" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></li>
      </ul>
    </div>

    <h2>Navigation</h2>

    <nav>
      <a href="#1">1</a> ·
      <a href="#2">2</a> ·
      <a href="#3">3</a> ·
      URL hash navigation
    </nav>

    <nav>
      <a href="#1"><img src="//source.unsplash.com/ICw7ZkUo9Ic/50x50" alt="Slide 1"></a>
      <a href="#2"><img src="//source.unsplash.com/sh3LSNbyj7k/50x50" alt="Slide 1"></a>
      <a href="#3"><img src="//source.unsplash.com/UOZIIQIdBjM/50x50" alt="Slide 1"></a>
      URL hash navigation
    </nav>

  </section>
</main>

{% endblock %}
