{% extends "template-default.njk" %}

{% block content %}
<main>
  <section>

    <h2>Usage</h2>

    <p><b>Slider</b></p>

<pre><code>&lt;div class="slider"&gt;
  &lt;ul role="region" aria-label="Gallery" tabindex="0"&gt;
    &lt;li id="1"&gt;&lt;figure&gt;&lt;img src="slide-1.jpeg" alt="Slide 1"&gt;&lt;figcaption&gt;Caption&lt;/figcaption&gt;&lt;/figure&gt;&lt;/li&gt;
    &lt;li id="2"&gt;&lt;figure&gt;&lt;img src="slide-2.jpeg" alt="Slide 2"&gt;&lt;figcaption&gt;Caption&lt;/figcaption&gt;&lt;/figure&gt;&lt;/li&gt;
    &lt;li id="3"&gt;&lt;figure&gt;&lt;img src="slide-3.jpeg" alt="Slide 3"&gt;&lt;figcaption&gt;Caption&lt;/figcaption&gt;&lt;/figure&gt;&lt;/li&gt;
    &lt;li id="4"&gt;&lt;figure&gt;&lt;img src="slide-4.jpeg" alt="Slide 4"&gt;&lt;figcaption&gt;Caption&lt;/figcaption&gt;&lt;/figure&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;</code></pre>

<p><b>Navigation</b></p>

<pre><code>&lt;nav&gt;
  &lt;a href="#1"&gt;1&lt;/a&gt;
  &lt;a href="#2"&gt;2&lt;/a&gt;
  &lt;a href="#3"&gt;3&lt;/a&gt;
&lt;/nav&gt;</code></pre>

  </section>
</main>

{% endblock %}
